classes/
target/
.DS_Store
.idea/
.jar
*.iml
gradle/wrapper/
.gradle
out/
log/*
*/log/
m-sun/src/test/resources/com.zcloud.vtx.module.sun.eb.mongo/lib/*
m-sun/src/test/resources/com.zcloud.vtx.module.sun.eb.mongo/mods/*
*/target
mods/
target/
*.log
cloud/*
.vertx/
repos.txt
logMeta	